.bg{
    background: url(../resources/bg.png);
    height: 100vh;
}

.table{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    width: 75vw;
    color: black;
    background-color: #d9d9d9;
}

.tableBody{
    font-size: .8rem;
}
