nav{
    font-size: xx-large;
}
img{
    width: 5%;
}
body{
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 125%;
    background-position: -225px 0px;
}
.pokeCards{
    background-color: rgb(235, 235, 235);
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
}

.modalStyle{
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    width: 400px;
    height: 650px;
    background: black !important;
    position: relative;
    color: white;
}

.modalStyle::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.styleContent{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    --bs-modal-footer-border-color: none !important;
    --bs-modal-header-border-color:none !important;
    font-size: x-large;
    border: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemonImageContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonImage{
    width: 300px;
    z-index: 1;
}

.modal-header{
    border-bottom:none !important;
}

/* Para cambiar el color del degradado */
.normal{
    background: linear-gradient(to bottom, rgba(178, 175, 162,0.8) 0%, rgba(248,208,48,0) 35% );
}

.fire{

}

.water{

}

.grass{

}

.flying{

}

.fighting{

}

.poison{

}

.electric{

}

.ground{

}

.rock{

}

.psychic{

}

.ice{

}

.bug{

}

.ghost{

}

.steel{

}

.dragon{

}

.dark{

}

.fairy{

}