body {
    background: url(../img/bg.png);
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
}
nav{
    font-size: xx-large;
}
main {
    height: 100vh;
}

#circle-container {
    right: 390px;
    width: 0px;
    position: relative;
    margin-top: 35px!important;
}
#closeTypes{
    right: 46cqmax;
    top: 20vmax;
}
#showTypes {
    right: 46cqmax;
    top: 20vmax;
}
.circle-item {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 18px;
}
